@import './variables.module.scss';
@import './mixin.scss';

:root {
    --menu-hover-bg: #f5f7fa;
    --menu-active-bg: var(--el-color-primary-light-9);
    --menu-active-text: var(--el-color-primary);
    --sidebar-width: 220px;
    --sidebar-collapse-width: 54px;
}

html.dark {
    --menu-hover-bg: #1f1f1f;
    --menu-active-bg: #1f1f1f;
    --menu-active-text: var(--el-color-primary);
}

#app {
    .main-container {
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: var(--sidebar-width);
        position: relative;
        background-color: var(--el-bg-color-page);
    }

    .sidebarHide {
        margin-left: 0 !important;
    }

    .sidebar-container {
        transition: width 0.28s;
        width: var(--sidebar-width) !important;
        height: 100%;
        position: fixed;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        border-right: 1px solid var(--el-border-color-light);

        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
            background-color: transparent;
            padding-top: 4px;
        }

        .scrollbar-wrapper {
            overflow-x: hidden !important;
        }

        &.has-logo {
            .el-scrollbar {
                height: calc(100% - 50px);
            }
        }

        .el-menu-item,
        .el-sub-menu__title {
            height: 50px !important;
            line-height: 50px !important;
            margin: 0 8px 4px 8px;
            border-radius: 6px;
            width: auto !important;

            i,
            .svg-icon,
            .nav-icon {
                color: inherit !important;
                fill: currentColor;
            }

            &:hover {
                background-color: var(--menu-hover-bg) !important;
            }
        }

        .el-menu-item.is-active {
            color: var(--menu-active-text) !important;
            background-color: var(--menu-active-bg) !important;
            font-weight: 600;

            i,
            .svg-icon,
            .nav-icon {
                color: var(--menu-active-text) !important;
            }
        }

        .svg-icon {
            margin-right: 12px;
            font-size: 18px;
            vertical-align: middle;
            width: 1em;
            height: 1em;
        }

        .menu-title {
            vertical-align: middle;
            margin-left: 4px;
        }
    }

    .hideSidebar {
        .sidebar-container {
            width: var(--sidebar-collapse-width) !important;
        }

        .main-container {
            margin-left: var(--sidebar-collapse-width);
        }

        .el-menu--collapse {
            padding-top: 0;

            .el-menu-item,
            .el-sub-menu__title {
                padding: 0 !important;
                margin: 4px 0 !important;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;

                .svg-icon,
                .nav-icon {
                    margin: 0 !important;
                }

                .menu-title {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: inline-block;
                }

                .el-sub-menu__icon-arrow {
                    display: none;
                }

                .el-tooltip__trigger {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
            }

            .el-menu-item.is-active {
                background-color: transparent !important;
            }

            .el-sub-menu {
                width: 100%;
            }
        }
    }

    .mobile {
        .main-container {
            margin-left: 0px;
        }

        .sidebar-container {
            transition: transform 0.28s;
            width: var(--sidebar-width) !important;
        }

        &.hideSidebar {
            .sidebar-container {
                pointer-events: none;
                transition-duration: 0.3s;
                transform: translate3d(calc(var(--sidebar-width) * -1), 0, 0);
            }
        }
    }

    .withoutAnimation {
        .main-container,
        .sidebar-container {
            transition: none;
        }
    }
}

@media (min-width: 992px) {
    #app .main-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-gutter: stable;
    }
}

@media (max-width: 991px) {
    #app .main-container {
        scrollbar-gutter: auto;
    }
}

.el-menu--vertical {
    & > .el-menu {
        .svg-icon {
            margin-right: 16px;
        }
    }

    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .el-menu-item {
        height: 50px !important;
        line-height: 50px !important;
        border-radius: 4px;
        margin: 0 4px 4px 4px;

        &:hover {
            background-color: var(--menu-hover-bg) !important;
            color: var(--menu-active-text) !important;
        }
    }

    .el-menu-item.is-active {
        color: var(--menu-active-text) !important;
        background-color: var(--menu-active-bg) !important;
    }
}

html.dark {
    #app .sidebar-container {
        border-right: 1px solid #363637;
        box-shadow: none;
    }

    .el-menu--popup {
        background-color: #141414 !important;

        .el-menu-item,
        .el-sub-menu__title {
            background-color: transparent !important;
            color: #e5eaf3 !important;

            &:hover {
                background-color: var(--menu-hover-bg) !important;
                color: var(--el-color-primary) !important;
            }
        }

        .el-menu-item.is-active {
            background-color: var(--menu-active-bg) !important;
            color: var(--menu-active-text) !important;
        }
    }
}
